<footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Someting</b> s
    </div>
    <strong>Copyright &copy; @Date.today.year <a href="http://ekumachidi.github.io">Afera 3D</a>.</strong> All rights
    reserved.
  </footer>